@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*
{
margin: 0;
padding: 0;
font-family: 'Quicksand', sans-serif;
}
:root
{
    --voilet: #9370db;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2 :#999;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
}
.container
{
   position: relative;
   width: 100%;

}
.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--voilet);
    border-left: 10px solid var(--voilet);
    transition: 0.5s;
    overflow-x: hidden;
}
.navigation.active
{
    width: 70px;

}
.navigation ul
{
    position: absolute;
    top:0;
    left:0;
    width:100%;
}

.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
    
}
.navigation ul li :hover,
.navigation ul li .hovered

{
    background:var(--white);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.navigation ul li:nth-child(1)
{
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display:flex;
    text-decoration: none;
    color:var(--white);
}
.navigation ul li:hover a,
.navigation ul li .hovered a

{
    color:var(--voilet);
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon
{
    font-size: 1.75em;
}
.navigation ul li a .title
{
   position: relative;
   display: block;
   padding: 0 10px;
   height: 60px;
   line-height: 60px;
   text-align: start;
   white-space: nowrap;
}
.navigation ul li:nth-child(1)  a .title
{
    font-size: 40px;
}

/* curve outside */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before

{
   content: '';
   position: absolute;
   right: 0;
   top:-50px;
   width: 50px;
   height: 50px;
   background: transparent;
   border-radius: 50%;
   box-shadow: 35px 35px 0 10px var(--white);
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after

{
   content: '';
   position: absolute;
   right: 0;
   bottom:-50px;
   width: 50px;
   height: 50px;
   background: transparent;
   border-radius: 50%;
   box-shadow: 35px -35px 0 10px var(--white);
}


/* main */

.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
    box-shadow: 2px 2px 5px rgba(61, 43, 43, 0.2);
    z-index: 100;

}
.main.active
{
    width: calc(100% - 70px);
    left: 70px;
}
.topbar
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle
{
    position: relative;
    width:60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.search
{
   position: relative;
   width: 400px;
   margin: 0 10px;
}
.search label
{
    position: relative;
    width: 100%;
}
.search label input
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 3px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

 .dropbtn
{
    position: relative;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}
.dropbtn img
{
   position:absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.topnav-right {
    margin-right: 1.5rem;
    float: right;
}

.navbar a {
    float: left;
    font-size: 20px;
    color: #9370db;
    text-align: center;
    padding: 14px 16px;
    text-decoration: #9370db;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: #9370db;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color:var(--white);
    color: white;
}

.dropdown-content 
{   
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding-top: 5px;;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a ion-icon
{
    font-size: 1.5em;
    font-family: 50px;
    padding-right: 0.5px;
}
.dropdown-content a span
{
    font-size: 1.1em;
    padding-bottom: 20px;
    
}
.dropdown-content a:hover {
    background-color: var(--voilet);
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cardBox
{
    position:relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.cardBox .card
{
position: relative;
background: var(--white);
border-radius: 20px;
padding: 30px;
display: flex;
justify-content: space-between;
cursor: pointer;
box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardBox .card .numbers
{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--voilet);
}
.cardBox .card .cardName
{
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;

}
.cardBox .card .iconBx
{
    font-size: 3em;
    color: var(--black2);
}
.cardBox .card:hover
{
    background: var(--voilet);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx
{
    color: var(--white);

}

table
{
   position: relative;
   left:47%;
   top: 250px;
   transform: translate(-50%,-50%);
   border-collapse: collapse;
   width: 90%;
   height: 500px;
   padding-top: 30px;
   border: 1px solid #bdc3c7;
   box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.3);
}
tr {
    transition: all .1s ease-in;
    cursor: pointer;
}
th, td
{
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
#header
{
    background-color: var(--voilet);
    color: var(--white);
    font-weight: 200;
}
tr:hover
{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.3);
}

/*media query*/

@media screen and (max-width:1042px)
{
.navigation
{
    left:-300px;
}
.navigation.active
{
    width: 300px;
    left:0;
}
.main
{
    width: 100%;
    left: 0;
}
.main.active
{
    left: 300px;
}
.cardBox
{
    grid-template-columns: repeat(2,1fr);
    width: 95%;

}
}
@media screen and (max-width:740px)
{
  .details
  {
      grid-template-columns: repeat(1,1fr);
      width: 95%;
  }   
  .search
   {
       width: 300px;
   }
}

@media screen and (max-width:740px)
{
    .search
    {
        width: 200px;
    }
 
}
@media screen and (max-width:550px)
{
    .search
    {
        width: 100px;
    }
 
}
@media screen and (max-width:480px)
{
    .topnav-right 
    {
       margin-right: 0.5rem;
    }
    .details
    {
        margin-left: 1.5rem;
    }
}
@media screen and (max-width:420px)
{
    .search
    {
        width: 60px;
    }
    .cardBox
    {
        grid-template-columns: repeat(1,1fr);
        width: 90%;
    }
    
}