/*body css*/
*{
    padding:0 ;
    margin:0 ;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    
 }

 body
 {
    height: 100vh;
    width: 100%;
 }
 
  /* container css*/
  .container
  {
      position: relative;
      width: 100%;
      height: 100%;
      display:flex;
      justify-content: center;
      align-items: center;
      padding: 20px 100px;

  }
  .contact-box
  {
      max-width: 850px;
      display:grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content:center;
      align-items: center;
      text-align: center;
      background-color: #fff;
      box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  }

  /* Left side container css*/

  .left
  {
        background-size:cover ;
        height: 100%;
        background-color: orange;
        padding: 25px 40px;
        color: white;
        justify-content: center;

  }
  #reach
  {
     position: relative;
     padding: 0 0 10px;
     margin-bottom: 10px;
  }
  #reach::after
  {
   content: '';
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
   height: 4px;
   width: 50px;
   border-radius: 2px;
   background-color: #fff;
}

tr td:first-child
{
 padding-right: 25px;
}
tr td
{
padding-top: 30px;
}

/* Right side container css*/

  .right
  {
     padding: 25px 40px;
  }

  #contact
  {
     position: relative;
     padding: 0 0 10px;
     margin-bottom: 10px;
  }
  #contact::after
  {
   content: '';
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
   height: 4px;
   width: 50px;
   border-radius: 2px;
   background-color: orange;
}
.field
{
   width: 100%;
   border: 2px solid rgba(0, 0, 0, 0);
   outline: none;
   background-color: rgba(230, 230, 230, 0.6);
   padding: 0.5rem 1rem;
   font-size: 1.1rem;
   margin-bottom: 22px;
   transition: .3s;

}

.field:hover
{
   background-color: rgba(0, 0, 0, 0.1);
}
textarea
{
   min-height: 150px;
}
.btn
{
   width: 100%;
   padding: 0.5rem 1rem;
   background-color: orange;
   color: #fff;
   font-size: 1.1rem;
   border: none;
   outline: none;
   cursor: pointer;
   transition: .3s;
}

.btn:hover
{
   background-color: orangered;
}
.field:focus
{
    border : 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}

/*  css for special divices */

@media screen and (max-width:875px)
{
   /* container css*/
  .container
  {
      position: relative;
      width: 100%;
      height: 100%;
      display:flex;
      justify-content: center;
      align-items: center;
      padding: 20px 100px;

  }
  
  .field
     {
      width: 90%;
      border: 2px solid rgba(0, 0, 0, 0);
      outline: none;
      background-color: rgba(230, 230, 230, 0.6);
      padding: 0.5rem 0.6rem;
      font-size: 1.1rem;
      margin-bottom: 12px;
      transition: .3s;
   
     }
   .btn
   {
   width: 90%;
   padding: 0.5rem 0.7rem;
   background-color: orange;
   color: #fff;
   font-size: 1.1rem;
   border: none;
   outline: none;
   cursor: pointer;
   transition: .3s;
   }
   tr td
   {
     padding-top: 15px;
   }
   textarea
   {
     min-height: 90px;
   }

   .contact-box
   {
      display: grid;
      grid-template-columns: 1fr;
   }
   .left
   {
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 25px 120px;
   }
   
}
   @media screen and (max-width:740px)
   {
      /* container css*/
  .container
  {
      position: relative;
      width: 100%;
      height: 100%;
      display:flex;
      justify-content: center;
      align-items: center;
      padding: 20px 100px;

  }
  
      .contact-box{
         display: grid;
         grid-template-columns: 1fr;
      }
      .left tr
      {
          font-size: 0.6rem;
      }
      .left{
         text-align: center;
         justify-content: center;
         align-items: center;
      }
      textarea
     {
       min-height: 90px;
     }
     .field
     {
      width: 80%;
      border: 2px solid rgba(0, 0, 0, 0);
      outline: none;
      background-color: rgba(230, 230, 230, 0.6);
      padding: 0.5rem 0.8rem;
      font-size: 1.0rem;
      margin-bottom: 12px;
      transition: .3s;
   
     }
   .btn
   {
   width: 80%;
   padding: 0.5rem 0.6rem;
   background-color: orange;
   color: #fff;
   font-size: 1.0rem;
   border: none;
   outline: none;
   cursor: pointer;
   transition: .3s;
   }
   tr td
   {
     padding-top: 15px;
   }
 
   }
   @media screen and (max-width:440px)
{
   /* container css*/
  .container
  {
      position: relative;
      width: 100%;
      height: 100%;
      display:flex;
      justify-content: center;
      align-items: center;
      padding: 20px 100px;

  }
  
   tr td
  {
    padding-top: 20px;
  }
   .field
   {
      width: 80%;
      border: 2px solid rgba(0, 0, 0, 0);
      outline: none;
      background-color: rgba(230, 230, 230, 0.6);
      padding: 0.5rem 0.8rem;
      font-size: 1.0rem;
      margin-bottom: 12px;
      transition: .3s;
   
   }
   .btn
{
   width: 80%;
   padding: 0.5rem 0.8rem;
   background-color: orange;
   color: #fff;
   font-size: 1.0rem;
   border: none;
   outline: none;
   cursor: pointer;
   transition: .3s;
}
textarea
{
   min-height: 80px;
}
   }
   

