*
{
margin: 0;
padding: 0;
font-family: 'Quicksand', sans-serif;
}
:root
{
    --voilet: #9370db;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2 :#999;
}
.details
{
  padding-top: 100px;
}
table
{
   position: relative;
   left:49%;
   top: 300px;
   transform: translate(-50%,-50%);
   border-collapse: collapse;
   width: 90%;
   height: 400px;
   padding-top: 30px;
   border: 1px solid #bdc3c7;
   box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.3);
}
tr {
    transition: all .1s ease-in;
    cursor: pointer;
}
th, td
{
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
#header
{
    background-color: var(--voilet);
    color: var(--white);
    font-weight: 200;
}
tr:hover
{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.3);
}
