@CHARSET "ISO-8859-1";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body
  {
    background: white;
    overflow: hidden;
  }
  
  ::selection
{
  background: #9370db;
}
.container
 {
    max-width: 700px;
    padding: 0 20px;
    margin: 20px auto;
  }

.regform .title
   {
    height: 40px;
    background: #9370db;
    border-radius: 6px 6px 0 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }  
 
  .regform
  {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  }


  
  /* css for form*/
  
  form
  {
    padding: 10px 15px 25px 25px;
  } 
  form .row
  {
    height: 30px;
    margin-bottom: 15px;
    position: relative;
  }
  form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  form .row input:focus{
    border-color: #9370db;
    box-shadow: inset 0px 0px 2px 2px #9370db;
  }
  form .row input::placeholder{
    color: #999;
  }
  .regform form .row i{
    position: absolute;
    height: 100%;
    color: #fff;
    font-size: 14px;
    background: #9370db;
    border: 1px solid #9370db;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form .row select{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  form .row select:focus{
    border-color: #16a085;
    box-shadow: inset 0px 0px 2px 2px #9370db;
  }
  form .row select::placeholder{
    color: #999;
  }
  
.option option
{
     font-size:14px;
}

/*css for button*/
  
form .button input
    {
  color: #fff;
  font-size: 15px;
  font-weight: 450;
  padding-left: 0px;
  background: #9370db;
  border: 1px solid #9370db;
  cursor: pointer;
    } 
button:hover
   {
    background: #9370db;
   }