:root
{
    --voilet: #9370db;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2 :#999;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
}
table
{
   position: relative;
   left:370px;
   top: 100px;
   transform: translate(-50%,-50%);
   border-collapse: collapse;
   width: 90%;
   height: 200px;
   padding-top: 30px;
   border: 1px solid #bdc3c7;
   box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.3);
}
tr {
    transition: all .1s ease-in;
    cursor: pointer;
   }
th, td
{
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
#header
{
    background-color: var(--voilet);
    color: var(--white);
    font-weight: 200;
}
#ttitle
{
    background-color: lightblue;
}
#ttitle tr
{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.3);
}
#header1
{
    background-color: var(--voilet);
    color: var(--white);
    font-weight: 200;
}
#ttitle1
{
    background-color: lightblue;
}
#ttitle1 tr
{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.3);
}
#header2
{
    background-color: var(--voilet);
    color: var(--white);
    font-weight: 200;
}
#ttitle2
{
    background-color: lightblue;
}
#ttitle2 tr
{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.3);
}
#header3
{
    background-color: var(--voilet);
    color: var(--white);
    font-weight: 200;
}
#ttitle3
{
    background-color: lightblue;
}
#ttitle3 tr
{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.3);
}
#header4
{
    background-color: var(--voilet);
    color: var(--white);
    font-weight: 200;
}
#ttitle4
{
    background-color: lightblue;
}
#ttitle4 tr
{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.3);
}
#header5
{
    background-color: var(--voilet);
    color: var(--white);
    font-weight: 200;
}
#ttitle5
{
    background-color: lightblue;
}
#ttitle5 tr
{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.3);
}
#header6
{
    background-color: var(--voilet);
    color: var(--white);
    font-weight: 200;
}
#ttitle6
{
    background-color: lightblue;
}
#ttitle6 tr
{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.3);
}
#header7
{
    background-color: var(--voilet);
    color: var(--white);
    font-weight: 200;
}
#ttitle7
{
    background-color: lightblue;
}
#ttitle7 tr
{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.3);
}

tr:hover
{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.3);
}

.section 
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
/*media query*/


@media only screen and(max-width: 768px) 
{
   table
   {
       width : 70%;
   }    
}

@media only screen and(max-width: 738px) 
{
   table
   {
       width : 40%;
   }    
}